body{
     margin: 0px;
    padding: 0px;
    background-image: url(./Images/amaback.jpg);
    background-repeat: no-repeat;
   /* background-size: 100%; 
     background-color: aquamarine; */
    
}
#Headersection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    
}

#Headersection #left h1{
font-size: 15px;

    
}
#Headersection #center ul{
display: flex;
align-items: center;
justify-content: space-between;

gap: 20px;
list-style-type: none;
}

#Headersection #right button{
    border: 2px solid blue;
    border-radius: 8px;
    height: 35px;
    width: 70px;
    background-color: transparent;
    color:white ;  
}
#Headersection #right button a{
    text-decoration: none;
    color: white;
}
#Bodysection h1{
    text-align: center;
    color: white;
    margin-top: 65px;
    padding-top: 20px;
    animation: word 1s infinite;
}
#Bodysection img{
    display: block;
    margin: auto;
    width: 900px;
}
#Bodysection p{
    text-align: center;
    color: white;
    margin-top: 0px;
    padding-bottom: 20px;
    font-size: 18px;
}
#Bodysection{
    animation: ani 1s infinite;
}
@keyframes word{
    0%{
        color: burlywood;
    }25%{
        color: blue;
    }50%{
        color: green;
    }
    75%{
        color: aquamarine;
    }
    100%{
        color: brown;
    }
}
@keyframes ani{
    0%{
        background-color: pink;
    }25%
    {
        background-color:yellow;
    }50%
    {
        background-color: orange;
    }
    75%
    {
        background-color: purple;
    }
    100%
    {
        background-color: red;
    }
}
#Contentsection{
    background-color: red;
    width: 70%;
   margin: auto;
   border-radius: 5px;

}
#Contentsection #new h1{
   text-align: center;
   color: yellow;
   padding-top: 10px;
   padding-bottom: 0px;
   margin-bottom: 0px;
 
}

#Contentsection #new img{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
/* Mobile version */
@media (max-width:600px){
    #Headersection{
        margin-left: 10px; 
    }
    body{
       
        width: 220%; 
        
    }
}
